<% include ../partials/boilerplate %>

<a href="/events/new">Add an event!</a>

<% events.forEach(event => { %>
  <div class="event">
    <h2><%= event.name %></h2>
    <p><%= event.location %></p>
    <p><%= url%></p>
    <a href="/events/<%=event.id%>">See more!</a>
  </div>
<% }) %>


<% include ../partials/end %>

<!--   <div class="event">
    <h2><%= event['events'][i]['title'] %></h2>
    <p><%= event['events'][i]['venue']['address'] %>, <%= event['events'][i]['venue']['city'] %> - <a href=" <%= event['events'][i]['venue']['url'] %>"> Tickets </a></p>
    <p><img src=" <%= event['events'][i]['performers'][0]['image'] %> "> </p>

      <form method="POST" action="/events">
        <input type="text" name="name" value="<%= event['events'][i]['title'] %>" />
        <input type="text" name="location" value="<%= event['events'][i]['venue']['address'] %>, <%= event['events'][i]['venue']['city'] %>" />
        <input type="text" name="image" value="<%= event['events'][i]['performers'][0]['image'] %>" />
        <input type="text" name="url" value="<%= event['events'][i]['venue']['url'] %>" />
        <input type="submit" value="Save" />
      </form> -->
