<% include ../partials/boilerplate2 %>

<div class="center">

  <% let num = 0 %>
    <% allFavorites.forEach(allFavorites => { %>

      <div class="event-align">

        <h5><%= num+= 1 %></h5>
          
          <div class="event">

            <h3><%= allFavorites.name %></h3>
            <h4><%= allFavorites.location %></h4>

              <p><center><img src=" <%= allFavorites.image %> "></center></p>

            <div class="align-buttons">
              <a class="button" href="<%= allFavorites.url %>">Find tickets</a>
              <form action="/events/favorites?_method=DELETE" method="POST">
                <input type="hidden" name="id" value=" <%= allFavorites.id %>" />
                <input type="submit" value="Delete" />
              </form>
          </div>
          </div>

      </div>
  <% }) %>
</div>

<% include ../partials/end2 %>
