<% include ../partials/boilerplate2 %>



<div class="center">

  <% for (var i = 0; i < 9; i++) { %>

    <div class="event-align">

      <h5><%= i + 1 %></h5>

        <div class="event">

          <h3><%= event['events'][i]['title'] %></h3>
          <h4><%= event['events'][i]['venue']['address'] %>, <%= event['events'][i]['venue']['city'] %></h4>

          <p><center><img src=" <%= event['events'][i]['performers'][0]['image'] %> "> </center></p>

          <div class="align-buttons">
            <a class="button" href=" <%= event['events'][i]['venue']['url'] %>"> Tickets </a>
            <form method="POST" action="/events/favorites">
              <input type="hidden" name="name" value="<%= event['events'][i]['title'] %>" />
              <input type="hidden" name="location" value="<%= event['events'][i]['venue']['address'] %>, <%= event['events'][i]['venue']['city'] %>" />
              <input type="hidden" name="image" value="<%= event['events'][i]['performers'][0]['image'] %>" />
              <input type="hidden" name="url" value="<%= event['events'][i]['venue']['url'] %>" />
              <input class="save" type="submit" value="Save" />
            </form>
          </div>

          </div>
    </div>
    <% } %>

<center><a href="/">Search another city!</a></center>
</div>

<% include ../partials/end2 %>
